@import 'tailwindcss';
@import 'prismjs/themes/prism.css';

@theme {
    --font-sans: "Inter", "system-ui";
    --font-mono: "Roboto Mono", "ui-monospace";

    --color-primary: #0ea5e9; /* Tailwind's sky-500 equivalent, or your brand primary */
    --color-secondary: #6b7280; /* Tailwind's gray-500 equivalent, or your brand secondary */
    --color-text-primary: #1e293b; /* Tailwind's gray-800 equivalent, for primary text */
    --color-text-secondary: #4b5563; /* Tailwind's gray-600 equivalent, for secondary text */
    --color-background: #f9fafb; /* Tailwind's gray-50 equivalent, for background */
}

