<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <img class="icon avatar" src="assets/avatar.webp">
    Túlio
  </button>
  <button mat-button routerLink="tools">Tools</button>
  <button mat-button routerLink="blog">Blog</button>
  <div class="spacer"></div>
  <a mat-icon-button href="https://github.com/tulior" target="_blank">
    <img class="icon" src="assets/github.svg">
  </a>
  <a mat-icon-button href="https://twitter.com/tulio_cg" target="_blank">
    <img class="icon" src="assets/twitter.svg">
  </a>
</mat-toolbar>

<router-outlet></router-outlet>
